/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
body {
  background-color: #1d2331;
  overflow-x: hidden !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
html,
body {
  max-height: 94vh;
  height: 100%;
  margin: 0px;
}
