<form [formGroup]="loginForm" (ngSubmit)="dispatchLogin()" novalidate>
  <div class="container-field">
        <div class="Login-form">
          <mat-form-field class="login-form-wrapper">
            <input
              matInput
              type="email"
              formControlName="Email"
              maxlength="60"
              required
            />
            <mat-label>
              Email
              <mat-icon>mail</mat-icon>
            </mat-label>
            <mat-error *ngIf="loginForm.get('Email').touched">
              <span *ngIf="loginForm.get('Email').hasError('email')"
                >Please enter a valid email address</span
              >
            </mat-error>
          </mat-form-field>
          <mat-form-field class="login-form-wrapper">
            <input
              matInput
              type="password"
              formControlName="Password"
              maxlength="9"
              required
            />
            <mat-label>
              Password
              <mat-icon>vpn_key</mat-icon>
            </mat-label>
            <mat-error *ngIf="loginForm.get('Password').touched">
              <span *ngIf="loginForm.get('Password').hasError('required')">
                Please provide the registered password to login
              </span>
            </mat-error>
          </mat-form-field>
          <ul class="login-form-wrapper ul-wrapper">
            <li>
              <mat-checkbox>Remember Me</mat-checkbox>
            </li>
            <li>
              <mat-label class="link">Forgot Password?</mat-label>
            </li>
          </ul>
          <div class="login-button">
            <button
              class="mat-raised-button mat-primary"
              color="primary"
              mat-raised-button
              [disabled]="!loginForm.valid"
            >
              LOGIN
            </button>
          </div>
        </div>
        <div class="separator">
          <span class="text">
            OR
          </span>
        </div>
        <div class="social-link-btn">
          <button
            class="mat-warn mat-raised-button padding-btn"
            color="warn"
            mat-raised-button
            [disabled]="true"
          >
            Log in with Google
          </button>
          <button
            class="facebook mat-raised-button padding-btn"
            mat-raised-button
            [disabled]="true"
          >
            Log in with Facebook
          </button>
        </div>
        <div class="register-account">
          <span class="text">Don't have an account?</span>
          <span class="link" (click)="dispatchRegister()">Create an account</span>
        </div>
  </div>
</form>

