
:host .login-form-wrapper {
  display: block;
  position: relative;
  width: 100%;
  max-width: 300px;
  padding: 5px;
}
:host .mat-input-element {
  text-decoration: none !important;
}
:host mat-icon {
  position: absolute;
  right: 0;
  font-size: larger;
}
.title {
  font-size: large;
  text-align: center;
  font-weight: normal;
  position: relative;
  top: 20px;
  padding: 10px;
}

.Login-form {
  align-items: center;
}
.ul-wrapper > li {
  list-style: none !important;
  float: left;
}
:host .ul-wrapper > li > mat-label {
  position: absolute;
  right: 0;
  padding: 8px;
}
:host .ul-wrapper > li > mat-checkbox {
  position: absolute;
  left: 0;
  padding: 5px;
}
:host .mat-raised-button {
  width: 100%;
}
.login-button {
  display: block;
  position: relative;
  top: 20px;
  width: 100%;
  max-width: 300px;
}
.separator {
  font-size: 15px;
  font-weight: 600;
  margin: 24px auto;
  position: relative;
  top: 15px;
  overflow: hidden;
  width: 100px;
  text-align: center;
  color: darkgray;
}
.separator .text {
  display: inline-flex;
  position: relative;
  padding: 0 8px;
  z-index: 9999;
  &::before {
    content: '';
    display: block;
    width: 30px;
    position: absolute;
    top: 10px;
    border-top: 1px solid;
    border-top-color: rgba(255, 255, 255, 0.12);
    &::after {
      content: '';
      display: block;
      width: 30px;
      position: absolute;
      top: 10px;
      border-top: 1px solid;
      border-top-color: rgba(255, 255, 255, 0.12);
    }
  }
}
.social-link-btn {
  max-width: 200px;
  width: 100%;
  padding: 5px;
  padding: 10px;
  margin: auto;
}
.social-link-btn > .facebook {
  background-color: #3f5c9a;
  color: #fff;
}
.social-link-btn > .padding-btn {
  margin: 5px;
}
.register-account {
  margin: 32px auto 24px;
  width: 250px;
  font-weight: 600;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  place-content: center;
  align-items: center;
}
.link {
  color: #607d8b;
  cursor: pointer;
}



/*Media queries*/

// @media and screen
